* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: url('/fotos/ceu.svg') no-repeat right center fixed;
    /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho real da sua imagem */
    background-size: cover;
    border: solid 1px;
    height: 80vh;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    padding: 20px 0;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo-img {
    border-radius: 50%;
}

.menu {
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

section.sobre {
    height: 100vh; /* Altura total da viewport */
    position: fixed; /* Fixa a seção para que ela não role com a página */
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extras {
    width: 70%;
    max-width: 700px;
    height: auto;
    border-radius: 50%;
    background-color: darkgreen;
    /* Adicionar efeito de flutuação */
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Consulta de mídia para telas menores */
@media screen and (max-width: 768px) {
    .logo, .menu {
        width: 100%;
    }

    .menu {
        padding-top: 15px;
    }

    .extras {
        width: 90%;
        max-width: none;
        bottom: -20px;
        right: 50%;
        transform: translateX(50%);
    }
}
