* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
<<<<<<< Updated upstream
    background: url('/fotos/ceu.svg') no-repeat center center fixed;
=======
    background: url('/fotos/Black\ and\ White\ Modern\ Futuristic\ Technology\ Logo.png') no-repeat center center fixed;
>>>>>>> Stashed changes
    background-size: cover;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    padding: 20px 0;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo-img {
    border-radius: 50%;
}

.menu {
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.menu a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

.menu {
    /* Updated styles for smaller screens */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
}

.menu a {
    margin: 5px 0;
}

section.sobre {
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.extras {
    width: 70%;
    max-width: 700px;
    height: auto;
    border-radius: 50%;
    background-color: darkgreen;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

<<<<<<< Updated upstream
#image2 {
    float: right;
    margin-right: 20px;
}

=======
>>>>>>> Stashed changes
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .logo, .menu {
        width: 100%;
    }

    .menu {
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 15px;
        margin-top: 0;
    }

    .menu a {
        margin: 0 10px;
    }

    .extras {
        width: 90%;
        max-width: none;
        bottom: -20px;
        right: 50%;
        transform: translateX(50%);
    }

    #image2 {
        float: none;
        margin-right: 0;
    }
}
