* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    padding: 20px 0;
}

.logo {
    width: 100%; /* Ocupa a largura total em telas menores */
    text-align: center; /* Centraliza o logo */
}

.logo-img {
    border-radius: 50%; /* Isso cria uma forma circular */
}

.menu {
    width: 100%; /* Ocupa a largura total em telas menores */
    text-align: center; /* Centraliza o menu */
    padding-top: 15px; /* Ajusta o preenchimento para melhor espaçamento */
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px; /* Ajusta a margem para melhor espaçamento */
}

section.sobre {
    height: auto; /* Remove a altura fixa */
    position: relative;
}

.extras {
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 70%; /* Ajusta a largura para responsividade */
    max-width: 700px; /* Define uma largura máxima */
    height: auto; /* Remove a altura fixa */
    border-radius: 50%;
    background-color: darkgreen;
}

/* Consulta de mídia para telas menores */
@media screen and (max-width: 768px) {
    .logo, .menu {
        width: 100%; /* Ocupa a largura total em telas menores */
    }

    .menu {
        padding-top: 15px; /* Ajusta o preenchimento para melhor espaçamento */
    }

    .extras {
        width: 90%; /* Ajusta a largura para telas menores */
        max-width: none; /* Remove a largura máxima */
        bottom: -20px; /* Ajusta a posição para telas menores */
        right: 50%; /* Centraliza os extras em telas menores */
        transform: translateX(50%); /* Centraliza os extras em telas menores */
    }
}
