*{
    padding: 0;
    margin:0;
}
.dashboard-container{
    background-color: rgba(36, 36, 255, 0.816);
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin:auto;
}
.menu{
    width: 20%;
    background-color: #ffff;
    margin: 5px;
}
.principal{
    width: 80%;
    background-color: rgba(90, 90, 116, 0.527);
    margin: 5px;
    padding: 5px;
}
.dashboard-container {
    background-image: url('/src/assets/img/capa para o projeto.svg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
table{
    width: 100%;

    border-collapse: collapse;

}

td{
    border: solid 0.5px #adb9d3;
    padding: 5px;
    color: aliceblue;
}
th{
    color: aliceblue;
}
.botoes:hover{
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0);
}
.btn-novo{
    padding: 10px;
    background-color: #6c9aff;
    color: black;
    border-radius: 5px;
    border: solid 0.5px #1a58dd;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    width: 20%;
}
.btn-novo:hover{
    background-color: #061a44;
    cursor: pointer;
    color: aliceblue;
}
.botoes{
    background-color: #1e4cb0;
    cursor: pointer;
    color: aliceblue;
}
form input{
    padding: 5px;
    border: #061a44;
}
input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.btn-save{
    padding: 10px;
    background-color: #1e4cb0;
    color: white;
    border-radius: 5px;
    border: solid 0.5px #6c9aff;
    margin-bottom: 10px;
    width: 120px;
}
.btn-cancel{
    padding: 10px;
    background-color:red;
    color:white;
    border-radius: 5px;
    border: solid 0.5px #6c9aff;
    margin-bottom: 10px;
    width: 120px;
}
.acao{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form-container{
    display: flex;
    align-items: center;
    height: 80vh;
}
form{
    background-color: #061a44;
    border: 1px solid #adb9d3;
    box-shadow: 0px 0px 10px #1a58dd;
    padding: 20px;
    border-radius: 5px;


}